@model FiwFriends.DTOs.Auth.LoginDto

@{  //Razor view of home's index
    ViewData["Title"] = "Login Page";
    var returnUrl = ViewData["ReturnUrl"] as string;
}

@section Scripts {
  <script src="~/js/auth/login/ajaxLogin.js"></script>
  <script src="~/js/auth/login/login_form_validate.js"></script>
}



@section Styles {
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
}

<div class="main main-login-property">

    @if (TempData["error"] != null)
    {
    <div class="error-text">
        @TempData["error"]
    </div>
    }

    <div class="card">
        <div class="login-body algn-center">
            <h2>Welcome Back!</h2>
            <div class=" login-body blue mh-40 ">

                <form class="field" method="post" action="/Auth/Login">
                    <div asp-validation-summary="ModelOnly" class="error-text"></div>

                    <div class="mh-40">
                        <p class="algn-start login-p" >username</p>
                        <input name="Username" class="inp" type="text">
                        @if (ViewData.ModelState["UserName"]?.Errors.Count > 0)
                        {
                        <div class="text-danger">@ViewData.ModelState["UserName"].Errors[0].ErrorMessage</div>
                        }
                    </div>
                    
                    <div class="mh-40">
                        <p class="algn-start login-p">password</p>
                        <input name="Password" class="inp" type="password">
                        @if (ViewData.ModelState["Password"]?.Errors.Count > 0)
                        {
                        <div class="text-danger">@ViewData.ModelState["Password"].Errors[0].ErrorMessage</div>
                        }
        <div class="card">
            <div class="login-body algn-center">
                <h2>Welcome Back!</h2>
                <div class=" login-body blue mh-40 ">
                    <div class="field">
                        <div class="mh-40">
                            <p class="algn-start login-p" ><b>username</b></p>
                            <input class="inp" type="text" id="login-username">
                        </div>
                        
                        <div class="mh-40">
                            <p class="algn-start login-p"><b>password</b></p>
                            <input class="inp" type="password" id="login-pswd">
                        </div>
                        
                        <p id="login-text"></p>

                        <button class="navbar-item btn-login-property" onclick=login()><b>login</b></button>
                        <p>Don't have an account? <a asp-controller="Auth" asp-action="Register"  class="signup-link"><u> sign up </u></a></p>
                    </div>
                    
                    <p id="errorMessage" style="color: red;"></p>
                    <input type="hidden" name="ReturnUrl" value="@returnUrl" />
                    <button class="navbar-item btn-login-property" type="submit">login</button>
                    <p>Don't have an account? <a asp-controller="Auth" asp-action="Register">sign up</a></p>

                </form>

            </div>
        </div>
    </div>

</div>