@model FiwFriends.DTOs.Auth.LoginDto

@{  //Razor view of home's index
    ViewData["Title"] = "Login Page";
}

@section Scripts {
  <script src="~/js/auth/login/ajaxLogin.js"></script>
  <script src="~/js/auth/login/login_form_validate.js"></script>
}



<div class="main main-login-property">

    @if (TempData["error"] != null)
    {
    <div class="error-text">
        @TempData["error"]
    </div>
    }

    <div class="card">
        <div class="login-body algn-center">
            <h2>Welcome Back!</h2>
            <div class=" login-body blue mh-40 ">

                <form class="field" method="post" action="/Auth/Login">
                    <div asp-validation-summary="ModelOnly" class="error-text"></div>

                    <div class="mh-40">
                        <p class="algn-start login-p" >username</p>
                        <input name="Username" class="inp" type="text">
                        <span asp-validation-for="Username" class="error-text"></span>
                    </div>
                    
                    <div class="mh-40">
                        <p class="algn-start login-p">password</p>
                        <input name="Password" class="inp" type="password">
                        <span asp-validation-for="Password" class="error-text"></span>
                    </div>
                    
                    <p id="errorMessage" style="color: red;"></p>

                    <button class="navbar-item btn-login-property" type="submit">login</button>
                    <p>Don't have an account? <a asp-controller="Home" asp-action="SignUp">sign up</a></p>

                </form>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div style="color: red;">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }
            </div>
        </div>
    </div>

</div>