@using FiwFriends.Dtos.Auth
@model RegisterDto

@{
    ViewData["Title"] = "Sign-up Page";
}

@section Scripts {
  <script src="~/js/auth/register/profile_image.js"></script>
  <script src="~/js/auth/register/register_form_animate.js"></script>
}

<div class="main main-login-property">

        <div class="card">
            <div class="login-body algn-center">
                <h2>Create Account</h2>
                <div class=" login-body blue mh-40 ">
                    <div class="field">
                        <div class="mh-40">
                            <p class="algn-start login-p" >name</p>
                            <input class="inp" type="text" id="register-name">
                        </div>
                        
                        <div class="mh-40">
                            <p class="algn-start login-p" >username</p>
                            <input class="inp" type="text" id="register-username">
                        </div>
                        
                        <div class="mh-40">
                            <p class="algn-start login-p">password</p>
                            <input class="inp" type="password" id="register-pswd">
                        </div>

                        <div class="mh-40">
                            <p class="algn-start login-p">confirm password</p>
                            <input class="inp" type="password" id="confirm-register-pswd">
                        </div>

                        
                        <p id="register-text"></p>

                        <button class="navbar-item btn-login-property" onclick=signup()>sign up</button>
                        <p>Already have an account? <a asp-controller="Home" asp-action="Login">login</a></p>
                    </div>
                </div>
            </div>
        </div>

</div>