@model FiwFriends.DTOs.PostDTO

@{  //Razor view of home's index
    ViewData["Title"] = "Create Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}


@section Scripts {
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@ViewData["API_KEY"]&libraries=places&callback=initMap&loading=async"></script>
    <script src="~/js/location.js"></script>
}


<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="card">
                        <div class="card-body">
                            <form asp-action="Create" method="post">
                                <div class="mh-40">
                                    <p class="algn-start login-p">Post name</p>
                                    <span asp-validation-for="Activity" class="error-text"></span>
                                    <input class="inp" type="text"  asp-for="Activity" >
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Post detail</p>
                                    <span asp-validation-for="Description" class="error-text"></span>
                                    <input class="inp" type="text" asp-for="Description" maxlength="1000">
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Tag</p>
                                    <span asp-validation-for="Tags" class="error-text"></span>

                                        <div class="tag-container">
                                            <button type="button" class="tag-select" data-tag="Food" >@await Html.PartialAsync("Tag/_Food")</button>
                                            <button type="button" class="tag-select" data-tag="Gaming" >@await Html.PartialAsync("Tag/_Gaming")</button>
                                            <button type="button" class="tag-select" data-tag="Gym" >@await Html.PartialAsync("Tag/_Gym")</button>
                                            <button type="button" class="tag-select" data-tag="Studying" >@await Html.PartialAsync("Tag/_Studying")</button>
                                            <button type="button" class="tag-select" data-tag="Sports" >@await Html.PartialAsync("Tag/_Sports")</button>
                                            <button type="button" class="tag-select" data-tag="Relaxing">@await Html.PartialAsync("Tag/_Relaxing")</button>
                                            <button type="button" class="tag-select" data-tag="Other" >@await Html.PartialAsync("Tag/_Other")</button>
                                        </div>

                                    <input type="hidden" id="tagInput" />
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">How many people can join?</p>
                                    <span asp-validation-for="Limit" class="error-text"></span>
                                    <input class="inp w-auto" type="number" asp-for="Limit" min="1" max="1000000">
                                </div>

                                <div class="time-container">
                                    <div>
                                        <p class="algn-start login-p">Appointment Time</p>
                                        <span asp-validation-for="AppointmentTime" class="error-text"></span>
                                        <input class="inp" type="datetime-local"  asp-for="AppointmentTime" >
                                    </div>
                                    
                                    <div>
                                        <p class="algn-start login-p">Due date</p>
                                        <span asp-validation-for="ExpiredTime" class="error-text"></span>
                                        <input class="inp" type="datetime-local"  asp-for="ExpiredTime" >
                                    </div>
                                    
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Location</p>
                                    <div class="location-container">
                                        <input class="location-input" id="locationInput" type="text" asp-for="Location" name="location"  maxlength="1000" placeholder="เลือกสถานที่..." autocomplete="off">
                                        <button type="button" class="location-btn" onclick="useCurrentLocation()">ที่อยู่ปัจจุบัน</button>
                                    </div>
                                    <div id="map" style="height: 300px; width: 100%;"></div>
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Question</p>
                                    <span asp-validation-for="Questions" class="error-text"></span>
                                    <div id="question-wrapper">
                                        <div class="question-container">
                                            <input class="question-input" type="text" name="Questions[0].Content"  maxlength="1000">
                                            <button class="question-more" type="button" onclick="addQuestion(this)">+</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="button-container">
                                    <button class="button white" asp-action="">Back</button>
                                    <button class="button" type="submit">Confirm</button>
                                </div>

                                
                            </form>
                                
                        </div>
                    </div>

            </div>

        </div>

</div>