@model Post;
@{  //Razor view of home's index
    ViewData["Title"] = "Posts Page";
}

<form method="POST" asp-action="Create" asp-controller="Post">
    <label>Activity:</label>
    <input type="text" asp-for="Activity"/>

    <label>Description:</label>
    <input type="text" asp-for="Description"/>

    <label>ExpiredTime:</label>
    <input type="text" asp-for="ExpiredTime"/>

    <label>AppointmentTime:</label>
    <input type="text" asp-for="AppointmentTime"/>

    <label>Tag:</label>
    <input type="text" asp-for="Tag"/>

    <button type="submit">Submit</button>
</form>