
@{
    ViewData["Title"] = "Create Post";
}


<div class="main">
    
        <div class="home-container">

            <div class="menu">
                <img src="https://ultrasabers.com/wp-content/uploads/2018/05/DarthVader.jpg" style="max-width: 10rem;">
                <h2>DarthVader</h2>
                <p>ThelordLnwza0072547</p>
                <a class="menu-home" asp-controller="Home" asp-action="Index">Home</a>
                <a class="menu-status" asp-controller="Home" asp-action="Status">Status</a>
                <a class="menu-like" asp-controller="Home" asp-action="Likes">like</a>
                <a class="menu-my_post" asp-controller="Home" asp-action="My_post">My post</a>
            </div>

            <div class="home-body">

                <div class="category">
                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>


                </div>

            </div>

        </div>

</div>