@model FiwFriends.DTOs.PostDTO

@{  //Razor view of home's index
    ViewData["Title"] = "Create Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="card">
                        <div class="card-body">
                            <form asp-action="Create" method="post">
                                <div class="mh-40">
                                    <p class="algn-start login-p">Activity</p>
                                    <span asp-validation-for="Activity" class="error-text"></span>
                                    <input class="inp" type="text"  asp-for="Activity" >
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Description</p>
                                    <span asp-validation-for="Description" class="error-text"></span>
                                    <input class="inp" type="text"  asp-for="Description" >
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">ExpiredTime</p>
                                    <span asp-validation-for="ExpiredTime" class="error-text"></span>
                                    <input class="inp" type="datetime-local"  asp-for="ExpiredTime" >
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">AppointmentTime</p>
                                    <span asp-validation-for="AppointmentTime" class="error-text"></span>
                                    <input class="inp" type="datetime-local"  asp-for="AppointmentTime" >
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Limit</p>
                                    <span asp-validation-for="Limit" class="error-text"></span>
                                    <input class="inp" type="text"  asp-for="Limit" >
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Location</p>
                                    <span asp-validation-for="Location" class="error-text"></span>
                                    <input class="inp" type="text"  asp-for="Location" >
                                </div>

                                <div class="mh-40">
                                    <p class="algn-start login-p">Tag</p>
                                    <span asp-validation-for="Tags" class="error-text"></span>
                                    <input class="inp" type="text"  asp-for="Tags[0].Name" >
                                </div>

                                <button class="navbar-item btn-login-property" type="submit">Create Post</button>
                                
                            </form>
                                <a class="btn" asp-action="">back</a>
                        </div>
                    </div>

            </div>

        </div>

</div>