@{  //Razor view of home's index
    ViewData["Title"] = "Edit Page";
}

@section Scripts {
  <script src="~/js/editProfile.js"></script>
  <script src="~/js/cropImage.js" defer></script>
  <script src="~/js/changePassword.js" defer></script>
}

@section Styles {
        <link rel="stylesheet" href="~/css/status.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body-new">

                <div class="card">
                        <div class="edit-header">
                                Edit user profile
                        </div>
                        <div class="card-body pb-20">

                                <div class="flex-row">
                                        <div class="full-div">
                                        <p class="algn-start login-p w-auto">Name</p>
                                        <span class="error-text"></span>
                                        <input id="firstName" class="full-inp" type="text">
                                        </div>
                                        <div class="full-div">
                                        <p class="algn-start login-p w-auto">Last Name</p>
                                        <span class="error-text"></span>
                                        <input id="lastName" class="full-inp" type="text">
                                        </div>
                                </div>

                                <div class="profile-input">
                                        <p class="algn-start login-p">Contact</p>
                                        <span class="error-text"></span>
                                        <input id="contact" class="inp" type="text">
                                </div>

                                <div class="profile-input">
                                        <p class="algn-start login-p">Profile picture</p>
                                        <span class="error-text"></span>
                                        <label for="profilePicInput" class="imgField">
                                                Upload profile picture
                                        </label>
                                        <input class="imgField" type="file" id="profilePicInput" accept="image/*">
                                
                                        

                                </div>

                                <div class="save-container">
                                        @* <a class="btn white" asp-controller="Post" asp-action="">back</a> *@
                                        <button type="button" class="btn" onclick="updateUser()">save change</button>
                                </div>
                        </div>
                            
                </div>

                <div class="card">
                        <div class="edit-header">
                                Change password
                        </div>
                        <div class="card-body pb-20">
                                <div class="profile-input">
                                        <p class="algn-start login-p w-auto">Old password</p>
                                        <span class="error-text"></span>
                                        <input id="oldPassword" class="inp" type="password">
                                </div>

                                <div class="profile-input">
                                        <p class="algn-start login-p">New password</p>
                                        <span class="error-text"></span>
                                        <input id="newPassword" class="inp" type="password">
                                </div>

                                <div class="profile-input">
                                        <p class="algn-start login-p">Confirm new password</p>
                                        <span class="error-text"></span>
                                        <input id="confirmPassword" class="inp mb-20" type="password">
                                </div>

                                <div class="save-container">
                                        @* <a class="btn white" asp-controller="Post" asp-action="">back</a> *@
                                        <button type="button" class="btn" onclick="changePassword()">change password</button>
                                </div>
                        </div>
                            
                </div>

                <div class="cropPopup" id="cropPopup">
                        <div class="cropContainer" id="cropContainer">
                                <p class="cropTxt">Crop your new profile picture</p>
                                <canvas class="cropCanvas" id="cropCanvas"></canvas>
                                <button class="cropSave" onclick="saveCroppedImage()">Save Crop</button>
                        </div>
                </div>

            </div>

        </div>

</div>