@{  //Razor view of home's index
    ViewData["Title"] = "Edit Page";
}

@section Scripts {
  <script src="~/js/editProfile.js"></script>
}

@section Styles {
        <link rel="stylesheet" href="~/css/status.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/edit.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="card">
                        <div class="edit-header">
                                Edit
                        </div>
                        <div class="card-body pb-20">
                                <div class="">
                                        <p class="algn-start login-p w-auto">Username</p>
                                        <span class="error-text"></span>
                                        <input id="username" class="inp" type="text">
                                </div>

                                <div class="flex-row">
                                        <div class="full-div">
                                        <p class="algn-start login-p w-auto">Name</p>
                                        <span class="error-text"></span>
                                        <input id="firstName" class="full-inp" type="text">
                                        </div>
                                        <div class="full-div">
                                        <p class="algn-start login-p w-auto">Last Name</p>
                                        <span class="error-text"></span>
                                        <input id="lastName" class="full-inp" type="text">
                                        </div>
                                </div>

                                <div class="mh-40">
                                        <p class="algn-start login-p">Contact</p>
                                        <span class="error-text"></span>
                                        <input id="contact" class="inp" type="text">
                                </div>

                                <div class="mh-40">
                                        <p class="algn-start login-p">Profile picture</p>
                                        <span class="error-text"></span>
                                        <input type="file" id="profilePicInput" accept="image/*">
                                </div>

                                <div class="mh-40">
                                        <p class="algn-start login-p">New password</p>
                                        <span class="error-text"></span>
                                        <input id="password" class="inp" type="password">
                                </div>

                                <div class="mh-40">
                                        <p class="algn-start login-p">Confirm password</p>
                                        <span class="error-text"></span>
                                        <input id="confirmPassword" class="inp" type="password">
                                </div>

                                <div class="save-container">
                                        <a class="btn" asp-controller="Post" asp-action="">back</a>
                                        <button type="button" class="btn" onclick="updateUser()">save</button>
                                </div>
                        </div>
                            
                    </div>

            </div>

        </div>

</div>