@model FiwFriends.Models.User

@{
    ViewData["Title"] = "User Details";
}

<h2>User Details</h2>
<table class="table">
    <tr>
        <th>Username</th>
        <td>@Model.Username</td>
    </tr>
    <tr>
        <th>Full Name</th>
        <td>@Model.FirstName @Model.LastName</td>
    </tr>
    <tr>
        <th>Bio</th>
        <td>@Model.Bio</td>
    </tr>
</table>

<a asp-action="Index" class="btn btn-secondary">Back to List</a>
