@{  //Razor view of home's index
    ViewData["Title"] = "MyPosts Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="category">
                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">Delete</button>
                            <button class="btn right">END</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

</div>