@{  //Razor view of home's index
    ViewData["Title"] = "Status Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/status.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            @await Html.PartialAsync("_Menu")

            <div class="home-body">

                <div class="card">
                        <div class="status-container">
                                <a asp-controller="User" asp-action="UserInboxStatus">INBOX</a> 
                                <a asp-controller="User" asp-action="UserPendingStatus">PENDING</a>
                        </div>
                        <table>
                                <tr>
                                        <th>Post name</th>
                                        <th>User</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                </tr>

                                <tr class="border-bottom">
                                        <td>หาเพื่อนกินบุฟเฟ่ตี๋น้อย</td>
                                        <td>User101</td>
                                        <td>Mon,13 Jan 2025</td>
                                        <td><b class="accepted-status" >Accepted</b></td>
                                </tr>

                                <tr class="border-bottom">
                                        <td>หาเพื่อนกินบุฟเฟ่ตี๋น้อย</td>
                                        <td>User101</td>
                                        <td>Mon,13 Jan 2025</td>
                                        <td><b class="rejected-status">Rejected</b></td>
                                </tr>

                                <tr class="border-bottom">
                                        <td>หาเพื่อนกินบุฟเฟ่ตี๋น้อย</td>
                                        <td>User101</td>
                                        <td>Mon,13 Jan 2025</td>
                                        <td><b class="pending-status" >Pending</b></td>
                                </tr>
                                                                
                                <tr>
                                        <td>หาเพื่อนกินบุฟเฟ่ตี๋น้อย</td>
                                        <td>User101</td>
                                        <td>Mon,13 Jan 2025</td>
                                        <td><b class="pending-status" >Pending</b></td>
                                        
                                </tr>
                                <tr class="border-bottom">
                                        <td><div class="answer_detail">
                                        ตี๋น้อย อิอิ
                                        </div></td>
                                        <td></td>
                                        <td></td>
                                        <td> <button class="btn_accept">accept</button>
                                        <button class="btn_reject" >reject</button> </td>
                                </tr>
                        </table>
                    </div>

            </div>

        </div>

</div>