@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    font-size: 14px;
    background-color: #FFF9F0;
    font-family: 'Inter', sans-serif;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #242424;
    padding: 5px 15px;
    border: 2px solid #242424;
    border-radius: 15px;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  }

.search-text {
    resize: none;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    border-bottom: 8px solid transparent;
    border: none;
    outline: 0;
    height: auto;
    width: 100%;
}

.search-input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.new-post {
    background-color: transparent;
    margin: 0px 10px;
    padding: 7px 30px;
    border-radius: 5px;
    border: 2px solid #242424;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  }

.tag-container {
    display: flex;
    margin: 10px 0px;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    display: flex;
    font-weight: bold;
    background-color: #FEFEFE;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.tag-select {
    display: flex;
    font-weight: bold;
    background-color: #FEFEFE;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.tag svg {
    width: 18px;
    height: 18px;
    fill: #000;
}

.button {
    font-weight: bold;
    border: 2px solid #242424;
    background-color: #FF8A80;
    border-radius: 5px;
    padding: 5px 15px;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
    cursor: pointer;
  }

.fav-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.selected {
    background-color: #FF8A80;
}

.add-border {
    border: 2px solid #242424;
}

.mt {
    margin-top: 30px;
}

.time-container {
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #242424;
    padding: 5px 15px;
    border: 2px solid #242424;
    border-radius: 15px;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  }

.search-text {
    background-color: transparent;
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 8px solid transparent;
    border: none;
    word-wrap: break-word;
    outline: 0;
    height: auto;
    width: 100%;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #242424;
    padding: 5px 15px;
    border: 2px solid #242424;
    border-radius: 15px;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  }

.search-text {
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    border-bottom: 8px solid transparent;
    border: none;
    outline: 0;
    height: auto;
    width: 100%;
}

.user-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.user-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: transparent no-repeat center;
    background-size: cover;
  }

.location-container {
    display: flex;
    gap: 15px;
    font-weight: bold;
    margin-bottom: 10px;
    justify-content: space-between;
}

.location-input {
    font-weight: bold;
    position: inherit;
    width: 75%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 7px 14px 7px 20px;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.location-btn {
    background-color: #FEFEFE;
    padding: 8px 24px;
    border-radius: 5px;
    border: 2px solid #242424;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0px;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.question-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FEFEFE;
    padding: 5px 15px;
    position: inherit;
    width: 95%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
    margin-bottom: 15px;
}

.question-input {
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    border: none;
    border-bottom: 8px solid transparent;
    outline: 0;
    width: 100%;
    height: auto;
    padding-top: 8px;
}

.question-more {
    border: none;
    background-color: #FF8A80;
    align-self: center;
    border-radius: 50%;
    cursor: pointer;
    font-weight: bold;
    color: #FEFEFE;
}

.people {
    font-weight: bold;
    display: flex;
    gap: 15px;
}

.people-container {
    padding-left: 5px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.answer-detail {
    display: block;
    background-color: #FEFEFE;
    padding: 10px 10px;
    border-radius: 5px;
}

.w-auto {
    width: 30px;
}

.white {
    background-color: #FEFEFE;
  }

.flex-right {
    padding-top: 10px;
    justify-content: end;
}

.place-picker-container {
    padding: 20px;
}

.ml-0 {
    margin-left: 0px;
}

.mt-0 {
    margin-top: 0px;
}

.new-post {
    display: flex;
    align-items: center;
    gap: 4px;
    text-decoration: none;
    color: #000; 
}

@media only screen and (max-width: 990px) {
    .question-container{
        width: 90%;
    }

    .tag-container {
        justify-content: space-around;
        gap: 5px;
    }

    .search-container {
        width: 90%;
    }

  }