@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    font-size: 14px;
    background-color: #FFF9F0;
    font-family: 'Inter', sans-serif;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #242424;
    padding: 5px 15px;
    border: 2px solid #242424;
    border-radius: 15px;
    width: 60%;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  }

.search-text {
    resize: none;
    white-space: nowrap;
    overflow: hidden;
    border-bottom: 8px solid transparent;
    border: none;
    word-wrap: break-word;
    outline: 0;
    height: auto;
    width: 100%;
}

.new-post {
    background-color: transparent;
    margin: 0px 10px;
    padding: 7px 30px;
    border-radius: 5px;
    border: 2px solid #242424;
    text-decoration: none;
    cursor: pointer;
    margin-right: 0px;
    box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  }

.tag-container {
    display: flex;
    margin: 15px 0px;
    gap: 10px;
}

.tag {
    font-weight: bold;
    background-color: #FEFEFE;
    border-radius: 5px;
    padding: 5px 10px;
    width: fit-content;
}

.add-border {
    border: 2px solid #242424;
}