
@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<button class="tag tag-button @(ViewBag.SelectedTag == "Gym" ? "selected" : "")" type="submit" data-tag="Gym">
        Gym
</button>