
@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<button class="tag tag-button @(ViewBag.SelectedTag == "Sports" ? "selected" : "")" type="submit" data-tag="Sports">
        <svg width="20" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 8h3v8H2v3h5v-2h10v2h5v-3h-3V8h3V5h-5v2H7V5H2v3Zm5 8V8h10v8H7Z" />
        </svg>
        Sport
</button>