
@section Styles {
        <link rel="stylesheet" href="~/css/post/post.css" asp-append-version="true" />
}

<button class="tag tag-button @(ViewBag.SelectedTag == "Studying" ? "selected" : "")" type="submit" data-tag="Studying">
        Studying
</button>