@{  //Razor view of home's index
    ViewData["Title"] = "Form Page";
}

<div class="main">

        <div class="home-container">
            <div><h1>Hello Word</h1></div>
            
            <div><a href="/Post">go to Post</a></div>
            

        </div>

</div>