@{  //Razor view of home's index
    ViewData["Title"] = "Home Page";
}

<div class="main">
    <div class="container">
        <div class="property">
            <div class="property-contain">
                <div class="property-item">Bangkok.Bangkok Thailand</div>
                <div class="property-item">All Catagory</div>
            </div>
            <div class="property-search">
                search
            </div>
        </div>

        <div class="genre">
            <div class="genre-item">food</div>
            <div class="genre-item">drink beer</div>
            <div class="genre-item">gym</div>
        </div>

        <div class="field">
            <div class="card">
                <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                <div class="card-body">
                    <div class="user-and-like">
                        <div>user101</div>
                        <div>like</div>
                    </div>
                    <div>Mon, 13 Jan 2025 | 12.00</div>
                    <div class="place-and-gruop">
                        <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                        <div >3 people</div>
                    </div>
                    <div class="detail">
                        ตี๋น้อย อิอิ
                    </div>
                    <button class="btn-join">join</button>
                </div>
            </div>
            

        </div>
    </div>
</div>