@{  //Razor view of home's index
    ViewData["Title"] = "Login Page";
}

<div class="main main-login-property">

        <div class="card">
            <div class="login-body algn-center">
                <h2>Welcome Back!</h2>
                <div class=" login-body blue mh-40 ">
                    <div class="field">
                        
                        <p id="login-text"></p>

                        <button class="navbar-item btn-login-property" onclick=login()>login</button>
                        <p>Don't have an account? <a asp-controller="Home" asp-action="SignUp">sign up</a></p>
                    </div>
                </div>
            </div>
        </div>

</div>