@{  //Razor view of home's index
    ViewData["Title"] = "Login Page";
}

<div class="main main-login-property">

        <div class="card">
            <div class="login-body algn-center">
                <h2>Welcome Back!</h2>
                <div class=" login-body blue mh-40 ">
                    <div class="field">
                        <div class="mh-40">
                            <p class="algn-start login-p" >username</p>
                            <input class="inp" type="text" id="username">
                        </div>
                        
                        <div class="mh-40">
                            <p class="algn-start login-p">password</p>
                            <input class="inp" type="password" id="pswd">
                        </div>
                        
                        <button class="navbar-item btn-login-property">login</button>
                    </div>
                </div>
            </div>
        </div>

</div>