@{  //Razor view of home's index
    ViewData["Title"] = "Home Page";
}

@section Styles {
        <link rel="stylesheet" href="~/css/status.css" asp-append-version="true" />
}

<div class="main">

        <div class="home-container">

            <div class="menu">
                <img src="https://ultrasabers.com/wp-content/uploads/2018/05/DarthVader.jpg" style="max-width: 10rem;">
                <h2>DarthVader</h2>
                <p>ThelordLnwza0072547</p>
                <a href="https://www.google.com/" class="menu-home">Home</a>
                <a class="menu-status">Status</a>
                <a class="menu-like">like</a>
            </div>

            <div class="home-body">

                <div class="card">
                        <h2>Status</h2>
                        <table>
                                <tr>
                                        <th>Post name</th>
                                        <th>User</th>
                                        <th>Data</th>
                                        <th>Status</th>
                                </tr>

                                <tr>
                                        <td>หาเพื่อนกินบุฟเฟ่ตี๋น้อย</td>
                                        <td>User101</td>
                                        <td>Mon,13 Jan 2025</td>
                                        <td>Accepted</td>
                                </tr>

                                <tr>
                                        <td>หาเพื่อนกินบุฟเฟ่ตี๋น้อย</td>
                                        <td>User101</td>
                                        <td>Mon,13 Jan 2025</td>
                                        <td>Accepted</td>
                                </tr>
                        </table>
                    </div>

            </div>

        </div>

</div>