@{  //Razor view of home's index
    ViewData["Title"] = "Home Page";
}

<div class="main">

        <div class="home-container">

            <div class="menu">
                <img src="https://ultrasabers.com/wp-content/uploads/2018/05/DarthVader.jpg" style="max-width: 10rem;">
                <h2>DarthVader</h2>
                <p>ThelordLnwza0072547</p>
                <a href="https://www.google.com/" class="menu-home">Home</a>
                <a class="menu-status">Status</a>
                <a class="menu-like">like</a>
            </div>

            <div class="home-body">

                <div class="property">
                    <div class="property-search">
                        search
                    </div>
                    <button>Create New Post</button>
                </div>

                <div class="genre mv-10">
                    <button class="genre-item">food</button>
                    <button class="genre-item">drink beer</button>
                    <button class="genre-item">gym</button>
                </div>

                <div class="category">
                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">หาเพื่อนกินบุฟเฟ่ตี๋น้อยล่าหมา</div>
                        <div class="card-body">
                            <div class="user-and-like">
                                <div>user101</div>
                                <div>like</div>
                            </div>
                            <div>Mon, 13 Jan 2025 | 12.00</div>
                            <div class="place-and-gruop">
                                <div >ตี๋น้อย เจ้าคุณวิลล่า</div>
                                <div >3 people</div>
                            </div>
                            <div class="detail">
                                ตี๋น้อย อิอิ
                            </div>
                            <button class="btn right">join</button>
                        </div>
                    </div>
                </div>

            </div>

        </div>

</div>