.edit-header {
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 24px;
        
}

.full-div {
        width: 100%;
        
}

.container-span {
        display: block;
}

.full-inp {
        width: 90%;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        padding: 7px 0px 7px 20px;
        box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.save-container {
        margin-top: 15px;
        display: flex;
        gap: 20px;
}

.cropPopup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        justify-content: center;
        align-items: center;
        z-index: 9999;
}

.cropContainer {
        background: #FEFEFE;
        padding: 20px;
        border-radius: 10px;
        position: relative;
}

.cropCanvas {
        border: 1px solid black;
        max-width: 400px;
        max-height: 400px;
}