@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/* @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'); */

html {
  font-size: 14px;
  background-color: #FFF9F0;
  font-family: 'Inter', sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
}

body {
  margin: 0px;
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a {
  text-decoration: none;
  color: #242424;
}

.navbar {
  overflow: hidden;
  background-color: #B2DFDC;
  padding: 10px 0px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.navbar-contain {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: auto;
  
}

.navbar-menu {
  display:flex;
  justify-content: center;
  align-items:center;
}

.navbar-item {
  background-color: #FF8A80;
  margin: 0px 10px;
  padding: 7px 30px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0px;
}

.logout-btn {
  background-color: transparent;
  padding: 7px 30px;
  border-radius: 5px;
  border: 2px solid #242424;
  text-decoration: none;
  cursor: pointer;
  margin-right: 0px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.main {
  margin: auto;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  margin-top: 30px;
  scrollbar-gutter: stable;
}


.menu {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu > a {
  padding: 10px 30px;
  border-radius: 5px 5px 0px 0px;
}

.home-container {
  display: inline-flex;
  max-width: 1260px;
}

.home-body {
  margin: 0px;
  width: 800px;
  padding: 0px 20px;
}

.category {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-gap: 15px;
  /* width: auto; */

}

.property {
  display: flex;
  justify-content: space-between;
}

.property-contain {
  display: inline-flex;
}

.property-item {
  margin-right: 40px;
}



.genre {
  display: inline-flex;
}

.genre-item {
  margin-right: 25px;
}

.card-header {
  font-weight: bold;
  position: relative;
  background-color: #B2DFDC;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  z-index: 2;
}

.card-body {
  position: relative;
  background-color: #FFE0B2;
  border-radius: 5px;
  padding: 10px 15px;
  padding-bottom: 45px;
  margin-top: -1px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.card-body > div {
  margin: 5px 0px;
}

.user-and-like {
  display: flex;
  justify-content: space-between;
}

.place-and-gruop {
  display: flex;
}

.place-and-gruop > div {
  margin-right: 25px;
}

.detail {
  background-color: #FEFEFE;
  height: 100px;
  padding: 10px 10px;
  border-radius: 5px;
}

.btn {
  font-weight: bold;
  margin-top: 5px;
  border: 0 solid #242424;
  background-color: #FF8A80;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.field {
  margin: auto;
  text-align: center;
  align-items: center;
}

.login-body {
  position: relative;
  background-color: #FFE0B2;
  border-radius: 5px;
  padding: 10px 15px;
  padding-bottom: 35px;
  margin-top: -1px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.login-p {
  margin-left: 10px;
  margin-bottom: 7px;
}

.inp {
  position: inherit;
  width: 90%;
  height: 100%;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  padding: 7px 0px 7px 20px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
}

.blue {
  background-color: #B2DFDC;
}

.right {
  float: right;
}

.left {
  float: left;
}


.algn-start {
  text-align: start;
}

.algn-center {
  text-align: center;
}

.mh-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mv-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-login-property {
  display: block;
  margin-top: 40px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -0%);
}

/* .main-login-property {
  width: 40%;
} */

.profile-img {
  border-radius: 50%;
}



.big-width {
  width: 600px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  position: sticky;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


.menu-home {
  display: flex;
  align-items: center;
  gap: 8px;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><g clip-path="url(%23clip0_15_3)"><rect width="24" height="24"></rect><path d="M9 21H4C3.44772 21 3 20.5523 3 20V12.4142C3 12.149 3.10536 11.8946 3.29289 11.7071L11.2929 3.70711C11.6834 3.31658 12.3166 3.31658 12.7071 3.70711L20.7071 11.7071C20.8946 11.8946 21 12.149 21 12.4142V20C21 20.5523 20.5523 21 20 21H15M9 21H15M9 21V15C9 14.4477 9.44772 14 10 14H14C14.5523 14 15 14.4477 15 15V21" stroke="%23000000" stroke-linejoin="round"></path></g><defs><clipPath id="clip0_15_3"><rect width="24" height="24" fill="white"></rect></clipPath></defs></g></svg>');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 24px;
  padding-left: 24px;
}

.menu-status {
  display: flex;
  align-items: center;
  gap: 8px;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><circle cx="17" cy="8" r="4" fill="%2333363F"></circle><path fill-rule="evenodd" clip-rule="evenodd" d="M15 8C15 6.89543 15.8954 6 17 6C18.1046 6 19 6.89543 19 8H15ZM11 8C11 7.29873 11.1203 6.62556 11.3414 6H5C4.44772 6 4 6.44772 4 7C4 7.55228 4.44772 8 5 8H11ZM11.8027 11C12.2671 11.8028 12.9121 12.488 13.6822 13H5C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11H11.8027ZM5 16C4.44772 16 4 16.4477 4 17C4 17.5523 4.44772 18 5 18H19C19.5523 18 20 17.5523 20 17C20 16.4477 19.5523 16 19 16H5Z" fill="%2333363F"></path></g></svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 28px;
  padding-left: 24px;
}

.menu-like {
  display: flex;
  align-items: center;
  gap: 8px;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill-rule="evenodd" clip-rule="evenodd" d="M12 6.00019C10.2006 3.90317 7.19377 3.2551 4.93923 5.17534C2.68468 7.09558 2.36727 10.3061 4.13778 12.5772C5.60984 14.4654 10.0648 18.4479 11.5249 19.7369C11.6882 19.8811 11.7699 19.9532 11.8652 19.9815C11.9483 20.0062 12.0393 20.0062 12.1225 19.9815C12.2178 19.9532 12.2994 19.8811 12.4628 19.7369C13.9229 18.4479 18.3778 14.4654 19.8499 12.5772C21.6204 10.3061 21.3417 7.07538 19.0484 5.17534C16.7551 3.2753 13.7994 3.90317 12 6.00019Z" stroke="%23000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 24px;
}

.menu-my_post {
  display: flex;
  align-items: center;
  gap: 8px;
  background-image: url('data:image/svg+xml,<svg height="200px" width="200px" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="%23000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><style type="text/css"> .st0{fill:%23000000;} </style><g><path class="st0" d="M458.159,404.216c-18.93-33.65-49.934-71.764-100.409-93.431c-28.868,20.196-63.938,32.087-101.745,32.087 c-37.828,0-72.898-11.89-101.767-32.087c-50.474,21.667-81.479,59.782-100.398,93.431C28.731,448.848,48.417,512,91.842,512 c43.426,0,164.164,0,164.164,0s120.726,0,164.153,0C463.583,512,483.269,448.848,458.159,404.216z"></path><path class="st0" d="M256.005,300.641c74.144,0,134.231-60.108,134.231-134.242v-32.158C390.236,60.108,330.149,0,256.005,0 c-74.155,0-134.252,60.108-134.252,134.242V166.4C121.753,240.533,181.851,300.641,256.005,300.641z"></path></g></g></svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 24px;
}

.logout-btn {
  display: flex;
  align-items: center;
  gap: px;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21 12L13 12" stroke="%23323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M18 15L20.913 12.087V12.087C20.961 12.039 20.961 11.961 20.913 11.913V11.913L18 9" stroke="%23323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path><path d="M16 5V4.5V4.5C16 3.67157 15.3284 3 14.5 3H5C3.89543 3 3 3.89543 3 5V19C3 20.1046 3.89543 21 5 21H14.5C15.3284 21 16 20.3284 16 19.5V19.5V19" stroke="%23323232" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path></g></svg>');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 24px;
  padding-left: 24px;
}