html {
  font-size: 14px;
  background-color: #FFF9F0;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

header {
  position: sticky;
  top: 0;
  z-index: 3;
}

body {
  margin: 0px;
  margin-bottom: 60px;
  
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

a {
  text-decoration: none;
  color: #242424;
}

.navbar {
  overflow: hidden;
  background-color: #B2DFDC;
  padding: 10px 0px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.navbar-contain {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin: auto;
  
}

.navbar-menu {
  display:flex;
  justify-content: center;
  align-items:center;
}

.navbar-item {
  background-color: #FF8A80;
  margin: 0px 10px;
  padding: 7px 30px;
  border-radius: 5px;
  margin-right: 0px;
}

.main {
  margin: auto;
  width: 60%;
}

.container {
  margin-top: 30px;
}

.container > div {
  margin: 10px 0px;
}

.property {
  display: flex;
  justify-content: space-between;
}

.property-contain {
  display: inline-flex;
}

.property-item {
  margin-right: 40px;
}

.property-search {
  color: red;
}

.genre {
  display: inline-flex;
}

.genre-item {
  margin-right: 25px;
}

.card-header {
  position: relative;
  background-color: #B2DFDC;
  padding: 10px 10px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
  z-index: 2;
}

.card-body {
  position: relative;
  background-color: #FFE0B2;
  border-radius: 5px;
  padding: 10px 15px;
  padding-bottom: 45px;
  margin-top: -1px;
  z-index: 1;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.card-body > div {
  margin: 5px 0px;
}

.user-and-like {
  display: flex;
  justify-content: space-between;
}

.place-and-gruop {
  display: flex;
}

.place-and-gruop > div {
  margin-right: 25px;
}

.detail {
  background-color: #FEFEFE;
  height: 100px;
  padding: 10px 10px;
  border-radius: 5px;
}

.btn-join {
  margin-top: 5px;
  float: right;
  border: 0 solid #242424;
  background-color: #FF8A80;
  border-radius: 5px;
  padding: 5px 15px;
  box-shadow: 0px 4px 4px rgba(24,24,24,.25);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  font-size: 12px;
  text-align: center;
}