@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    font-size: 14px;
    background-color: #FFF9F0;
    font-family: 'Inter';

}

.accepted-status {
        color: #19A143;
    }

.rejected-status {
        color: #FF0000;
    }

.pending-status {
        color: #F4B942;
    }

table {
        font-family: 'Inter';
        border-collapse: collapse;
        width: 100%;
        text-align: center;
}

td, th {
        text-align: left;
        padding: 12px;

}

th {
        background-color: #B2DFDC
}

tr.border-bottom {
        border-bottom: 1px solid #D9D9D9;
}