@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

html {
    font-size: 14px;
    background-color: #FFF9F0;
    font-family: 'Inter';

}

.Joined, .Pending, .Rejected {
        font-weight: bold;
}

.Joined {
        color: #19A143; 
}

.Pending {
        color: #F4B942;
}

.Rejected {
        color: #FF0000;
}

table {
        font-family: 'Inter';
        border-collapse: collapse;
        width: 100%;
        text-align: center;
}

table th:first-child {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
}

table th:last-child {
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
}


td, th {
        text-align: left;
        padding: 12px;

}

th {
        background-color: #B2DFDC;
}

.head {
        box-shadow: 0px 4px 4px rgba(24,24,24,.25);
        border-radius: 15px;
        
}

tr.border-bottom {
        border-bottom: 1px solid #D9D9D9;
}

.flex {
        display: flex;
}

.answer_detail{
        display: block;
        background-color: #FFE0B2;
        padding: 10px 10px;
        border-radius: 5px;
}

.detail {
        background-color: #FEFEFE;
        height: 100px;
        padding: 10px 10px;
        border-radius: 5px;
      }


.btn_accept, .btn_reject {

        margin-top: 5px;
        border: 0 solid #242424;
        border-radius: 5px;
        padding: 5px 12px;
        box-shadow: 0px 4px 4px rgba(24,24,24,.25);
        cursor: pointer;
}

.btn_accept{
        background-color: #78FF80;
}


.btn_reject{
        background-color: #FF8A80;
}

.table-head {
        padding: 12px 50px;
}

.p-50 {
        padding-left: 50px;
}

.spacing > * {
        margin-bottom: 10px;
}

.status-container {
        display: flex;
        flex-direction: row;
        margin-left: 10px;
        margin-bottom: 10px;
        gap: 15px;
}

.inbox-btn, .pending-btn {
        font-weight: bold;
        font-size: 16px;
        display: flex;
        align-items: center;
        
        background-position: left center;
        background-repeat: no-repeat;
        background-size: 24px;
        
}

.inbox-btn {
        gap: 8px;
        padding-left: 2px;
}

.pending-btn {
        padding-left: 2px;
}